.dashboard-c {

}

.dashboard {

}

.dash-title {
    background-color: #80CBC4;
    margin-bottom: 24px;
    position: relative;
}

.dash-title-bg {

}

.dash-title-bg img{
    width: 100%;
}

.dash-u-avatar {
    position: absolute;
    bottom: 30px;
    width: 12%;
    left: 44%;
}

.dash-u-avatar img{
    width: 100%;
}

.dash-u-intro {
    margin-top: 24px;
    padding: 6px 0;
    text-align: center;
    color: #515151;
}

.dash-blog-c {
    background-color: #80CBC4;
    color: #515151;
}

.dashboard .blog-img {
    max-width: 100%;
    width: 100%;
}












